/* ===========================
   LOGIN PAGE
=========================== */

.login-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#F5F7FA;

    padding:30px;

}

/* ===========================
   LOGIN CARD
=========================== */

.login-container{

    width:100%;

    max-width:430px;

    background:white;

    padding:50px;

    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}


/* ===========================
   HEADER
=========================== */

.login-header{

    text-align:center;

    margin-bottom:40px;

}

.login-header h1{

    font-size:2.3rem;

    color:var(--color-primary);

    margin-bottom:10px;

}

.login-header p{

    color:#666;

}


/* ===========================
   FORM
=========================== */

.login-form{

    display:flex;

    flex-direction:column;

    gap:22px;

}

.form-group{

    display:flex;

    flex-direction:column;

}

.form-group label{

    margin-bottom:8px;

    font-weight:600;

}


/* ===========================
   INPUT
=========================== */

.form-group input{

    height:50px;

    padding:0 15px;

    border:1px solid #DDD;

    border-radius:12px;

    font-size:1rem;

    transition:.3s;

}

.form-group input:focus{

    border-color:var(--color-primary);

    outline:none;

    box-shadow:0 0 0 4px rgba(37,99,235,.15);

}


/* ===========================
   BUTTON
=========================== */

.login-form button{

    margin-top:10px;

}


/* ===========================
   FOOTER
=========================== */

.login-footer{

    margin-top:30px;

    text-align:center;

}

.login-footer a{

    color:var(--color-primary);

    font-weight:600;

}

/* ===========================
   PASSWORD
=========================== */

.password-box{

    position:relative;

}

.password-box input{

    width:100%;

    padding-right:55px;

}

.toggle-password{

    position:absolute;

    right:15px;

    top:50%;

    transform:translateY(-50%);

    background:none;

    border:none;

    cursor:pointer;

    font-size:1.2rem;

    color:#666;

    transition:.3s;

}

.toggle-password:hover{

    color:var(--color-primary);

}

.btn-primary{
    background-color: #2563EB;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    width: 100%;
}

.btn-primary:hover{
    background-color: #1D4ED8;
    box-shadow: 0 4px 12px rgba(37, 99, 235, .6);
}

.login-form{

    display:flex;

    flex-direction:column;

    gap:20px;

}